.grid {
  --griColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--griColumns), 1fr);
  gap: fluid-to-laptop(30, 20);

  &--2 {
    --griColumns: 2;
  }

  &--3 {
    --griColumns: 3;

    @include tablet {
      --griColumns: 2;
    }

    @include  mobile {
      --griColumns: 1;
    }
  }
}